<div class="container">
    <h1>{{title}}</h1>
</div>
<div class="footer">
    <h1>
        <a href="https://www.linkedin.com/in/jpwidmer/" target="_blank">
            <i class="fa fa-linkedin" aria-hidden="true"></i>
        </a>
        &middot;
        <a href="https://www.github.com/jpwiddy/" target="_blank">
            <i class="fa fa-github" aria-hidden="true"></i>
        </a>
        &middot;
        <a href="https://twitter.com/jpwiddy" target="_blank">
            <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
    </h1>
</div>