.container {
    h1 {
        color: #000;
        margin-top: -20%;
        font-weight: 100;
    }
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}

.footer {
    a {
        color: #fff;
        text-decoration: none;
    }
    color: #fff;
    bottom: 20px;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}